<div class="hero-image" role="img" aria-label="Background image illustrating fishing and ocean, adapted to the Fisher-Folio website">
    <div class="hero-image-text text-center">
        <h1 class="display-4 hero-header-1">Lad bølgerne bære dig</h1>
        <h2 class="lead hero-header-2">Vi klarer resten</h2>
    </div>
</div>